/.github
/.vscode
/es
/node_modules
/scripts
/src
/.editorconfig
/.eslintignore
/.fatherrc.ts
/.gitignore
/.jsbeautifyrc
/.npmignore
/.prettierignore
/.prettierrc.js
/.stylelintrc.js
/CONTRIBUTING.MD
/now-build.sh
/now.json
/tsconfig.json
/tslint.json
/yarn.lock